@model IEnumerable<Inventory.Models.Item>

@*@if(!Model.Any())
    {
        <p>There is no Item</p>
    }*@


@{
    Layout = null;
}
@if (Session["email"] == null)
{
    <script> location.href='/'; </script>
}



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Addicionar Produtos</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/styles.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>
<body>

<style>

.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
table thead tr{
  color: #fff;
  background: #34AF6D;
  text-align: left;
  font-weight: bold;
}
.table th,
.table td{
  padding: 12px 15px;
}
.table tbody tr{
  border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-of-type(odd){
  background: #f3f3f3;
}
.table tbody tr.active{
  font-weight: bold;
  color: #4AD489;
}
.table tbody tr:last-of-type{
  border-bottom: 2px solid #4AD489;
}
.table button{
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #4AD489;
}
.table button:hover{
  background: #4AD489;
  color: #fff;
  transition: 0.5rem;
}
</style>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
              
                    <a class="navbar-brand brand-logo-mini" href="/Main/Index">
                    </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
              
                <ul class="navbar-nav navbar-nav-right">
                
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="profile-text">Arnaldo Tomo</span>
                            <img class="img-xs rounded-circle" src="~/images/faces/git.jpg" alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <a class="dropdown-item p-0">
                                <div class="d-flex border-bottom">
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                        <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                                    </div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                                        <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                                    </div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                        <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item mt-2">
                               Gerenciar contas
                            </a>
                            <a class="dropdown-item">
                                Mudar Senha 
                            </a>
                          
                            <a class="dropdown-item" href="Logout" style="cursor:pointer">
                                Sign Out
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
           <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="user-wrapper">
                                <div class="profile-image">
                                    <img src="~/images/faces/git.jpg" alt="profile image">
                                </div>
                                <div class="text-wrapper">
                                    <p class="profile-name">Arnaldo Tomo</p>
                                    <div>
                                        <small class="designation text-muted">Gerente</small>
                                        <span class="status-indicator online"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- <button class="btn btn-success btn-block">
                                New Project
                                <i class="mdi mdi-plus"></i>
                            </button> -->
                        </div>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link active" href="/Main/Index">
                            <i class="menu-icon mdi mdi-television"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
             
                    <li class="nav-item">
                        <a class="nav-link" href="/Main/PurchaseItems">
                            <i class="menu-icon mdi mdi-backup-restore"></i>
                            <span class="menu-title">Comprar Produtos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Main/AddItem">
                            <i class="menu-icon mdi mdi-chart-line"></i>
                            <span class="menu-title">Adicionar Produtos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/Sells">
                            <i class="menu-icon mdi mdi-table"></i>
                            <span class="menu-title">Vender Produtos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/AddSupplier">
                            <i class="menu-icon mdi mdi-sticker"></i>
                            <span class="menu-title">Adicionar fornecedores</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/mystock">
                            <i class="menu-icon mdi mdi-sticker"></i>
                            <span class="menu-title">Em Stocks</span>
                        </a>
                    </li>
                   
                </ul>
            </nav>
           
            <div class="main-panel">
                <div class="content-wrapper">
                    <h2 >Registar Produtos</h2>
                    <form method="post" action="/Main/AddItem">
                        <input type="hidden" name="id" class="form-control" value="1" placeholder="" />
                        <div class="">
                         <label>nome do Produtos</label>
                        <input type="text" name="item_name"  class="form-control" placeholder="Informe o nome do produto" />
                        <label>Preço</label>
                        <input type="text" name="price"  class="form-control" placeholder="informe o preco do produto" />
                        </div>
                        <br>
                         <button type="submit" name="submit" class="btn btn-success">Addicionar Produtos</button>
                    
                    </form>
                   

                    <table class="table">
                    <thead>
                        <tr>
                            <th>ID#</th>
                            <th>Produtos</th>
                            <th>Preço</th>
                            <th>Editar/Deletar</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{ var a = 1;}
                        @foreach (var data in Model)
                        {
                            <tr>
                                <td>@(a++)</td>
                                <td>@data.item_name</td>
                                <td>@data.price</td>
                                <td>
                                    <a href="/Main/Edit?id=@data.item_id"><i class="menu-icon mdi mdi-pencil"></i> </a>
                                    <a href="/Main/Delete?id=@data.item_id"><i class="menu-icon mdi mdi-delete"></i> </a>
                                </td>

                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
          
            </div>
        </div>
    </div>
 
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/vendors/js/vendor.bundle.addons.js"></script>
     <script src="~/js/off-canvas.js"></script>
    <script src="~/js/misc.js"></script>
    <script src="~/js/dashboard.js"></script>
</body>
</html>
<!-- <label>nome do Produtos</label>
                               <input type="text" name="item_name" style="margin-left:-50%;border:2px solid #4cff00" class="form-control" placeholder="Informe o nome do produto" />
                         
                                <label>Preço</label>
                                <div><input type="text" name="price" style="margin-left:-50%;border:2px solid #4cff00" class="form-control" placeholder="informe o preco do produto" /></div>
                         
                                <div class="group-form"><button type="submit" name="submit" class="btn btn-success">Addicionar Produtos</button></div> -->