@model Inventory.Models.Suppliers
@{
    ViewBag.Title = "Delete_Supplier";
}

<h2>Delete_Supplier</h2>


<h3 style="color:#ef2222">Are you sure you want to delete this?</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4>Student Details</h4>
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>@Model.sup_name</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>@Html.DisplayFor(Model => Model.email)</td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td>@Html.DisplayFor(Model => Model.mobile)</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>@Html.DisplayFor(Model => Model.address)</td>
                </tr>
                <tr>
                    <td><a href="/Main/Delete_Supplier_Confirmed?id=@Model.sup_id"><input type="button" class="btn btn-danger" value="Delete Confirmed"></a></td>
                </tr>

            </table>
        </div>
    </div>
</div>

