@model Inventory.Models.Suppliers
@{
    ViewBag.Title = "Deletar Fonecedor";
}

<h2>Delatar Fornecedor</h2>


<h3 style="color:#ef2222">Tens a certeza que desejas Eliminar?</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4> Detalils</h4>
            <table class="table">
                <tr>
                    <td>Nome</td>
                    <td>@Model.sup_name</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>@Html.DisplayFor(Model => Model.email)</td>
                </tr>
                <tr>
                    <td>Contacto</td>
                    <td>@Html.DisplayFor(Model => Model.mobile)</td>
                </tr>
                <tr>
                    <td>Indereco</td>
                    <td>@Html.DisplayFor(Model => Model.address)</td>
                </tr>
                <tr>
                    <td><a href="/Main/Delete_Supplier_Confirmed?id=@Model.sup_id"><input type="button" class="btn btn-danger" value="Sim!,Deletar"></a></td>
                </tr>

            </table>
        </div>
    </div>
</div>

