@model Inventory.Models.Item
@{
    ViewBag.Title = "Deletar Produto";
}


<div class="container">
    <div class="row">
        <div class="col-sm-6">
<h3 style="color:#ef2222">Tem certeza de que deseja excluir Esse Produto?</h3>
            <h4>Detalhes Do produto</h4>
            <table class="table">
                <tr>
                    <td>Produto</td>
                    <td>@Model.item_name</td>
                </tr>
                <tr>
                    <td>Preço</td>
                    <td>@Html.DisplayFor(Model => Model.price)</td>
                </tr>
                <tr>
                    <td><a href="/Main/Delete_Confirmed?id=@Model.item_id"><input type="button" class="btn btn-danger" value="Sim, Deletar Produto"></a></td>
                </tr>

            </table>
        </div>
    </div>
</div>
   
    
   

