@model Inventory.Models.Item
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Item</h2>

<form method="post" action="/Main/Edit">
    <input type="hidden" name="id" value="@Model.item_id" class="form-control"  placeholder="" />
    <table class="table">

        <tr>
            <td><input type="text" name="item_name" value="@Model.item_name" class="form-control" placeholder="Item name" /></td>
        </tr>
        <tr>
            <td><input type="text" name="price" value="@Model.price" class="form-control" placeholder="Price" /></td>
        </tr>
        <tr>
            <td><button type="submit" name="submit" class="btn btn-primary">Update Item</button></td>
        </tr>
    </table>
</form>

