
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
 </head>

<body>
<style>
body {
  background: rgb(226, 226, 226);
}

input {
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #4AD489;
}

.btn1{
  color: white;
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #4AD489;
  border: 1px solid #4AD489;
  text-align: center;
  text-decoration-color: white;
}
.login {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 25%;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

</style>
     <form method="post" action="Main/login" id="formu">
        <div class="login">
    <h1  style="color:#4AD489;margin-center:100%">Login</h1>
        <p style="color:red;margin-left:12%">@Session["error"]</p>
        <div class="users1">
                <p>Entre com as suas credencias</p>
          <div class="per">
           <input id="username" type="text" name="email" value="" placeholder="Username" />
           <input  id="password" type="password" name="password" value=""  placeholder="Senha" />
          <div class="btn">
          <button class="btn1" id="valid" type="submit" name="valid" >Entrar</button>
    </div>
    </div>
  </div>
    </form>
   </body>
</html>
